body{
	margin: 0;
	padding: 0;
}

/*header start*/
header{
	padding: 10px 0;
}
.container {
	margin: 0 auto;
	width: 84%;
	overflow: hidden;
}
.logo {
	margin-top: 22px;
	width: 16%;
	float: left;
}
.logo a img{
	width: 100%;
}
.menu {
	width: 83%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style-type: none;
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #535D69;
	text-decoration: none;
	padding: 20px 20px;
	transition: .3s ease;
	display: inline-block;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #E36185;
}
/*header end*/
